<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.qxx.android.jukebox"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material">
        <activity
            android:name=".activities.FlipperListActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Material">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.JukeboxPreferenceActivity"
            android:theme="@android:style/Theme.Material" />
        <activity
            android:name=".activities.PlayerPickerActivity"
            android:theme="@android:style/Theme.Material" />
        <activity
            android:name=".activities.SubSelectActivity"
            android:theme="@android:style/Theme.Material" />
        <activity
            android:name=".activities.FlipperActivity"
            android:theme="@android:style/Theme.Material" />
        <activity
            android:name=".activities.NowPlayingActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".activities.SeriesActivity"
            android:theme="@android:style/Theme.Material" />
        <activity android:name="com.google.android.libraries.cast.companionlibrary.cast.player.VideoCastControllerActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.NowPlayingActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITTY"
                android:value=".activities.NowPlayingActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>

        <receiver android:name="com.google.android.libraries.cast.companionlibrary.remotecontrol.VideoIntentReceiver" />

        <service android:name="com.google.android.libraries.cast.companionlibrary.notification.VideoCastNotificationService" />
    </application>

</manifest>