<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="se.qxx.android.jukebox"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:allowBackup="false">
        <activity android:name="FlipperListActivity"
                  android:label="@string/app_name" android:theme="@android:style/ThemeOverlay.Material.Dark.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="JukeboxPreferenceActivity" android:theme="@android:style/ThemeOverlay.Material.Dark.ActionBar"></activity>
        <activity android:name="PlayerPickerActivity" android:theme="@android:style/ThemeOverlay.Material.Dark.ActionBar"></activity>
        <activity android:name="SubSelectActivity" android:theme="@android:style/ThemeOverlay.Material.Dark.ActionBar"></activity>
        <activity android:name="FlipperActivity" android:theme="@android:style/ThemeOverlay.Material.Dark.ActionBar"></activity>
        <activity android:name="NowPlayingActivity" android:theme="@android:style/ThemeOverlay.Material.Dark.ActionBar"></activity>
        <activity android:name="SeriesActivity" android:theme="@android:style/ThemeOverlay.Material.Dark.ActionBar"></activity>

    </application>
</manifest>